.menu {
    align-content: left;
    box-shadow: 10px 10px 3px black;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover {
  background: #dddddd;
  color: black;
}

.menu img{
    max-height: 50px;
    max-width: auto;
}

body{
    background-color: rgb(39,39,39);
}

.titleImg{
    margin-top: 40px;
    background-image: url(https://cdn.pixabay.com/photo/2020/01/07/13/36/sea-4747601_960_720.jpg);
    max-width: 100%;
    max-height: auto;
    background-repeat: no-repeat;
}

.alliesImg{
    max-height: auto;
    min-height: 300px;
    background-image: url(https://cdn.pixabay.com/photo/2020/01/07/13/36/sea-4747601_960_720.jpg);
    /*-webkit-filter: blur(5px); /* Safari 6.0 - 9.0
    filter: blur(5px);*/
    background-repeat: no-repeat;
}

.container {
    align-self: center;
    width: 500px;
    align-content: center;
}

h1{
    padding-top: 40px;
    color: rgb(254,206,120);
    font-family:"Times New Roman", Times, serif;
    font-size: 80px;
    text-align: center;
}

.sectionTitle{
    color: rgb(254,206,120);
    font-family:"Times New Roman", Times, serif;
    font-size: 56px;
    text-align: center;
}

.sectionSubtitle{
    color:white;
    text-align: center;
    font-family:"Times New Roman", Times, serif;
    font-size: 30px;
}

.sectionDescription{
    color:white;
    text-align: center;
    font-family:"Times New Roman", Times, serif;
    font-size: 20px;
}

h2{
    color:white;
    text-align: center;
    font-size: 40px;
}